################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/XamarinForms_Dynamic_ListView_Item/XamarinForms_Dynamic_ListView_Item/bin/Debug
